<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-loader" [fullScreen]="true">
  <p style="color: white">Chargement...</p>
</ngx-spinner>


<div class="card">
  <p-toolbar styleClass="mb-4">
    <ng-template pTemplate="right">
      <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()"
        class="p-button-success p-mr-2" pTooltip="XLS" tooltipPosition="bottom"></button>
        <br/>
        <button type="button" pButton pRipple icon="pi pi-plus-circle" (click)="goTosalle()"
        class="p-button-info p-mr-1" pTooltip="Ajouter Salle" tooltipPosition="bottom"></button>
    </ng-template>
  </p-toolbar>

  <p-table #dt [value]="salleList" [rows]="10" [paginator]="true" [globalFilterFields]="[
      'id',
      'title',
      'descr'
    ]" responsiveLayout="scroll" [rowHover]="true" dataKey="id"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
    <ng-template pTemplate="caption">
      <div class="flex align-items-center justify-content-between">
        <h5 class="m-0">Liste Salles</h5>
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')"
            placeholder="Recherche..." />
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
      <!--  <th style="width: 3rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>-->
        <th pSortableColumn="id">
          <div class="p-d-flex p-jc-between p-ai-center">
           Nom
            <p-columnFilter type="text" field="id" display="menu"></p-columnFilter>
            <p-sortIcon field="id"></p-sortIcon>
          </div>
        </th>
        <th pSortableColumn="title">
          <div class="p-d-flex p-jc-between p-ai-center">
            Capacité
            <p-columnFilter type="text" field="title" display="menu"></p-columnFilter>
            <p-sortIcon field="title"></p-sortIcon>
          </div>
        </th>
        <th pSortableColumn="descr">
          <div class="p-d-flex p-jc-between p-ai-center">
            Equipement
            <p-columnFilter type="text" field="descr" display="menu"></p-columnFilter>
            <p-sortIcon field="descr"></p-sortIcon>
          </div>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-salle let-rowIndex="rowIndex">
      <tr>
       <!-- <td>
          <p-tableCheckbox [value]="inspection"></p-tableCheckbox>
        </td> -->
        <td><b>{{ salle.nameSalle }}</b></td>
        <td><b>{{ salle.capacite }}</b></td>
        <td>{{ salle.equipement }}</td>
       <!--
        <td>
          {{ inspection.transmission_Date | date: "dd/MM/yyyy HH:mm:ss" }}
        </td> -->
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="flex align-items-center justify-content-between">
        Au total il y a
        {{ salleList ? salleList.length : 0 }} Enregistrements.
      </div>
    </ng-template>
  </p-table>
</div>
