<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-loader" [fullScreen]="true">
  <p style="color: white">Chargement...</p>
</ngx-spinner>


<div class="card">
  <p-toolbar styleClass="mb-4">
    <ng-template pTemplate="left">
      <!--Boutton Add new Salle : Open a modal Form to adding new record-->
      <button pButton pRipple label="Ajouter" icon="pi pi-plus" class="p-button-success mr-2" (click)="addNewSalle()"></button>
  </ng-template>

    <ng-template pTemplate="right">
      <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()"
        class="p-button-success p-mr-2" pTooltip="XLS" tooltipPosition="bottom"></button>
        <br/>
        <button type="button" pButton pRipple icon="pi pi-plus-circle" (click)="goToReservation()"
        class="p-button-info p-mr-1" pTooltip="Ajouter Salle" tooltipPosition="bottom"></button>
    </ng-template>
  </p-toolbar>

  <p-table #dt [value]="salleList" [rows]="10" [paginator]="true" [globalFilterFields]="[
      'nameSalle',
      'capacite',
      'equipement'
    ]" responsiveLayout="scroll" [rowHover]="true" dataKey="nameSalle"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true"
    >
    <ng-template pTemplate="caption">
      <div class="flex align-items-center justify-content-between">
        <h5 class="m-0">Liste Salles</h5>
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')"
            placeholder="Recherche..." />
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="nameSalle">
          <div class="p-d-flex p-jc-between p-ai-center">
           Nom
            <p-columnFilter type="text" field="nameSalle" display="menu"></p-columnFilter>
            <p-sortIcon field="nameSalle"></p-sortIcon>
          </div>
        </th>
        <th pSortableColumn="capacite">
          <div class="p-d-flex p-jc-between p-ai-center">
            Capacité
            <p-columnFilter type="text" field="capacite" display="menu"></p-columnFilter>
            <p-sortIcon field="capacite"></p-sortIcon>
          </div>
        </th>
        <th pSortableColumn="equipement">
          <div class="p-d-flex p-jc-between p-ai-center">
            Equipement
            <p-columnFilter type="text" field="equipement" display="menu"></p-columnFilter>
            <p-sortIcon field="equipement"></p-sortIcon>
          </div>
        </th>
        <th style="width: 10rem">
          <div class="flex align-items-center">
            Actions

          </div>
      </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-salle let-rowIndex="rowIndex">
       <!--Get the id of selected item-->
      <tr (click)="selectSalle(salle)">
       <!-- Display list of salles
         -->
        <td><b>{{ salle.nameSalle }}</b></td>
        <td><b>{{ salle.capacite }}</b></td>
        <td>{{ salle.equipement }}</td>
        <td>
           <!--Boutton update Salle : Open a modal Form to update record-->
          <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="updateSalle(salle)"></button>
           <!--Boutton delete Salle-->
          <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="onDeleteSalle(salle)"></button>
      </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="flex align-items-center justify-content-between">
        Au total il y a
        {{ salleList ? salleList.length : 0 }} Enregistrements.
      </div>
    </ng-template>
  </p-table>
</div>
